.register-container {
    width: 100%;
}

.register-box {
    width: 75vw;
    max-width: 400px;
    margin: 3em auto;
    padding: 1.5em;
    background: #1a1a1a;
    border-radius: 5px;
    box-shadow: 7px 7px 10px rgb(0 0 0);
    color: #f5f5f5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message, .field-error-message {
    color: red !important;
    margin-bottom: 1em !important;
}

.form-group {
    position: relative;
    margin-bottom: 1em;
}

.input {
    border: 1.5px solid #ff6b81;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #ff6b81;
    background-color: #212121;
    pointer-events: none;
    transform: translateY(-50%) scale(0.8);
}



.submitBtn {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: linear-gradient(45deg, #9b59b6, #ff6b81) !important;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.submitBtn:hover {
    box-shadow: 7px 5px 56px -14px #ff6b81;
}

